.classpath
.mymetadata
.project
/target
.settings
/taotao-manager-mapper/.settings
/taotao-manager-mapper/target
/taotao-manager-mapper/.classpath
/taotao-manager-mapper/.project
/taotao-manager-pojo/.settings
/taotao-manager-pojo/target
/taotao-manager-pojo/.classpath
/taotao-manager-mapper/.project
/taotao-manager-service/.settings
/taotao-manager-service/target
/taotao-manager-service/.classpath
/taotao-manager-service/.project
/taotao-manager-web/.settings
/taotao-manager-web/target
/taotao-manager-web/.classpath
/taotao-manager-web/.project